@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-1 {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    flex: 1;
    margin-left: -80px; /* Move a logo para a esquerda*/
}

.nav-title {
    flex: 2;
    text-align: center;
}

.nav-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.icon-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: -90px; /* Move os icones para a esquerda*/
}

.icon {
    margin-left: 20px;
}

.icon a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

.icon a:hover, a:hover {
    color: #007bff;
}




.header-2 {
    background-color: #EDEAE5;
    box-shadow: 0px 3px 4px #464646;
}

.nav-bar-2 {
    padding: 1rem 2rem;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-item {
    margin: 0 100px;
}

.nav-item a:hover {
    color: #230584;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #996161;
    font-family: 'Poppins';
}







.main-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.main-content h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.user-list-container {
    margin-top: 20px;
    text-align: left;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.user-name {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.score-bar {
    height: 12px;
    background-color: #3498db;
    border-radius: 6px;
    margin-left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.score-count {
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}

.fa-trophy {
    color: gold;
    font-size: 20px;
    margin-right: 5px;
}

.invisible-trophy {
    visibility: hidden;
}
